.tg {
    padding: 10px 90px;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
    color: #333;
    background-color: #f0f0f0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

tr[data-mealExceed="false"] {
    color: green;
}

tr[data-mealExceed="true"] {
    color: red;
}
